<section  class="corps_page"><br />			                      	               							    
  <article>				
        <h1>Location vacances Saint Jean de Luz</h1>
    
        <div class="photos-accueil"><img width="400" height="300" id="photos" src="../assets/images/accueil_photos/accueil-baie-pano-1.jpg" title="Bienvenue sur la Côte Basque" alt="Photos côte basque" />
      <div class="remerciement"><p>Merci à Amaia Irigoyen<br /> pour sa photo aérienne, <br /> ainsi qu'à pp2pon.</p></div>
    </div>
    <div class="photos-accueil-mobile"><img  src="../assets/images/accueil_photos/accueil-mouettes-3.jpg" title="Bienvenue sur la Côte Basque" alt="Photos mer" /></div>		
    
      <p class="parag-intro">Bonjour et bienvenue,<br /><br />
         Vous trouverez ci-dessus trois <strong>appartements</strong> disponibles pour de la <strong>location saisonnière à la semaine et entre particuliers</strong>.<br /><br />
       
         Ces trois locations-vacances, situées à <strong>Saint-Jean-De-Luz</strong> et <strong>Ciboure</strong>, sont toutes fonctionnelles.
        De plus, les bailleurs, tous du crû, se feront un plaisir de vous indiquer les différents lieux à connaitre de ce coin du Pays Basque. <br /><br />
       
        Située sur la côte basque entre Biarritz (15km) et San Sebastian (Espagne 30km), vous découvrirez une ville agréable à vivre ou l'on est aussi vite à la plage qu'en randonnée.
        De multiples activités s'offrent à vous durant la saison estivale, à commencer par la plage bien sûr, mais vous préférerez peut-etre vous prélasser à 
        <a class="lien-gris" target="_blank" href="http://www.thalasso-passion.fr/saint-jean-de-luz-st231348-3.html">la thalasso</a> ou encore
        faire une petite virée au <a class="lien-gris" target="_blank" href="http://www.joa-casino.com/Casinos-Loisirs/CASINO-JOA-DE-ST-JEAN-DE-LUZ">Casino</a> après avoir dégusté les 
        petits plats de<a class="lien-gris" target="_blank" href="http://www.resto.fr/restaurant-saint-jean-de-luz" title="de bons restos en 1ere page"> la gastronomie locale</a>.<br /><br />
       
        Dans un registre plus sportif, vous pourrez par exemple faire du surf ou du bodyboard si les vagues vous le permettent, mais encore de la bouée tractée ou du parachute ascensionnel.
        Il reste encore beaucoup d'activités que je n'ai pas citées, les tapas de Fontarrabie, le musée de la mer à Biarritz, visiter l'église de Saint-Jean-de-Luz où s'est marié LouisXIV,
        ou encore faire de la randonnée sur les flancs de la Rhune... Vous trouverez un lien vers l'office de tourisme 
        afin que vous dénichiez les activités qui vous conviendront le mieux.
        <br /><br />
        Cliquez au haut de cette page afin de connaitre la description détaillée des appartements en <strong>location</strong>, les tarifs, les disponibilités, ainsi que les numéros de téléphone utiles.<br /><br />
        Ongi etorri et bonnes vacances...</p><br />
  </article>
</section>
  
<footer>
  <div>
    <h3>Liens utiles:</h3><p>
     <p><a class="foot" href="http://www.locationsaintjeandeluz.fr/nos-partenaires.html" title="les partenaires du site locationsaintjeandeluz.fr">Nos partenaires</a><br /><br />
     <a class="foot" target="_blank" href="http://www.saint-jean-de-luz.com" title="www.saint-jean-de-luz.com">Office de tourisme de Saint Jean de Luz</a>, <a class="foot" target="_blank" href="http://www.ciboure.fr" title="www.ciboure.fr">Office de tourisme de Ciboure</a><br />				  
     <a class="foot" target="_blank" href="http://en.wikipedia.org/wiki/Saint-Jean-de-Luz">Article wikipedia sur Saint Jean de Luz</a>, <a class="foot" target="_blank" href="http://fr.wikipedia.org/wiki/Ciboure">Article wikipedia sur Ciboure</a><br />				   
     <a class="foot" target="_blank" href="http://www.resto.fr/restaurant-saint-jean-de-luz" title="de bons restos en 1ere page">Gastronomie locale</a>,
     <a class="foot" target="_blank" href="http://www.google.com/search?q=image+saint+jean+de+luz&amp;amphl=en&amp;safe=off&amp;ampprmd=imvns&amp;amptbm=isch&amp;amptbo=u&amp;ampsource=univ&amp;ampsa=X&amp;ampei=41hVT7PACeOh0QW6sOHSCw&amp;ampved=0CCIQsAQ&amp;ampbiw=1344&amp;bih=736&amp;um=1&amp;ie=UTF-8&amp;hl=fr&amp;tbm=isch&amp;source=og&amp;sa=N&amp;tab=wi&amp;biw=1680&amp;bih=985&amp;sei=DSFWT6v3BYfF8gP7gsTBCA">Photos, images</a><br />
     <a class="foot" target="_blank" href="http://www.pyrenees-ossau-immobilier.com/index.php" title="vente granges, appartements, maisons, ski-pyrénées" >Pyrénées Ossau Immobilier</a>, <a class="foot" target="_blank" href="http://www.aarcroisiere.com/">Croisiere</a><br />
     <a class="foot" target="_blank" href="conditions-generales.php" title="condition d'utilisation" >Mentions légales</a>,
     <a class="foot" target="_blank" href="mailto:info@locationsaintjeandeluz.fr" title="email pour toutes questions concernant ce site">info@locationsaintjeandeluz.fr</a><br />
     <a class="foot" target="_blank" href="http://www.net-liens.com"><img width="88" height="31" src="http://www.net-liens.com/img/media/nl_88x31.jpg" alt="Annuaire Net-liens" title="Annuaire Net-liens" /></a>
    </p> 
  </div>
</footer>				
