<p>
  location-add works!
</p>

<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="locationForm">

    <div class="form-group">
    <label for="nbre-pers">
      Location pour combien de personne maximum ?
    </label>
    <input type="text" id="nbre-pers" class="form-control"
    formControlName="nbrePers"></div>

    <div class="form-group">
    <label for="description-short">
        description courtes
    </label>
    <textarea id="description-short" class="form-control"
    formControlName="descriptionShort" rows="2"> </textarea></div>

    <div class="form-group">
    <label for="description">
        description longues
    </label>
    <textarea id="description" class="form-control"
    formControlName="description" rows="2"> </textarea></div>

    <div class="form-group">
    <label for="coord-geo">
        coord geo
    </label>
    <input type="text" id="coord-geo" class="form-control"
    formControlName="coordGeo"> </div>

    <div class="form-group">
    <label for="photos">
        photo
    </label>
    <input type="file" id="photos" class="form-control"
    formControlName="photos"/> </div>

    <button class="btn btn-primary" type="submit">Enregistrer</button>
  </form>
</div>
