<p>
  location-add works!
</p>

<form>

  <label for="nbre-pers">
    Location pour combien de personne maximum ?
  </label>
  <input type="text" /> <br />

  <label for="description-short">
      description courtes
  </label>
  <input type="textarea" /> <br />

  <label for="description">
      description longues
  </label>
  <input type="textarea" /> <br />

  <label for="coord-geo">
      coord geo
  </label>
  <input type="text" /> <br />

  <label for="photos">
      photo
  </label>
  <input type="file" /> <br />


</form>